*{
  box-sizing: border-box;
}

body{
  background-color: rgb(69, 67, 63);
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
}

#image{
  background-color: rgb(226, 194, 176);
  margin-bottom: 0;
}

nav{
  background-color: rgb(226, 194, 176);
  float: left;
  height: 10em;
  padding-right: 2em;
  margin-top: 6.4em;
  border-style: solid;
  border-color: black;
}

#hours{
  float: right;
  background-color: rgb(226, 194, 176);
  padding: 1em;
  text-align: center;
  margin-top: 6.4em;
  border-style: solid;
  border-color: black;
}

h1{
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 5em;
  background-color: rgb(226, 194, 176);
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(77, 75, 76);
}

#shop_blurb{
  text-align: center;
  background-color: rgb(226, 194, 176);
  margin-left: 19em;
  margin-right: 21em;
  padding-left: 5em;
  padding-right: 5em;
  height: 15em;
  border-radius: 4em;
  border-style: solid;
}

#seatac{
  background-color: rgb(226, 194, 176);
  border-radius: 0.8em;
}

#pike{
  background-color: rgb(226, 194, 176);
  border-radius: 0.8em;
}

#center{
  background-color: rgb(226, 194, 176);
  border-radius: 0.8em;
}

#capHill{
  background-color: rgb(226, 194, 176);
  border-radius: 0.8em;
}

#alkiShop{
  background-color: rgb(226, 194, 176);
  border-radius: 0.8em;
}

h2{
font-family: 'Lobster',cursive;
text-align: center;
background-color: rgb(226, 194, 176);
}

table{
  margin: 0 auto;
}

tr:nth-child(even){
  background-color: rgb(226, 194, 176);
}

tr:nth-child(odd){
  color: rgb(226, 194, 176);
}
td{
  text-align: center;
}

th{
  background-color: rgb(226, 194, 176);
}
#blank{
  background-color: rgb(69, 67, 63);
}
